.profile {
    display: flex;
    position: relative;
    height: 100vh;
    background: #03303b;

}

.profile h3 {
    position: absolute;
    background: #a2d6d3;
    padding: 16px;
    border-radius: 10px;
    margin: 0;
    top:10%;
    left:10%;
    width: 30%;
}